<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"  href="/css/a.css"  type="text/css"/>
    <meta charset="UTF-8">  
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cyborg/bootstrap.min.css">
</head>
<body class="bg-light">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home
                  <span class="visually-hidden">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="member">직원정보</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="worktime">출근정보</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="smoketime">흡연정보</a>
              </li>
              <li class="nav-item dropdown">
               
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>


    <div class="container-fluid px-0 ">
      <div class="row my-3 d-flex justify-content-center">
        <div class="col-10 ">
            <div class="input-group  ">
                <input type="text" id="search_kw" class="form-control" value="{{ kw or '' }}">
                <div class="ml-4">
                  <button class="btn btn-secondary my-2 my-sm-0" type="button" id="btn_search">검색</button>
                </div>
              </div>  
        </div>
    </div>
    </div>
    <form id="searchForm" method="get" action="{{ url_for('.search') }}">
      <input type="hidden" id="kw" name="kw" value="{{ kw or '' }}">
    </form>

    {% block script %}
    <script type='text/javascript'>
    const btn_search = document.getElementById("btn_search");
    btn_search.addEventListener('click', function() {
        document.getElementById('kw').value = document.getElementById('search_kw').value;
        document.getElementById('searchForm').submit();
    });
    </script>
    {% endblock %}
</body>
</html>